<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
    <link rel="stylesheet" href="/css/main.css"> 

    <% if (locals.styles && locals.styles.length) { %>
        <% locals.styles.forEach(style => { %>
            <%- style %>
        <% }) %>
    <% } %>
</head>

<body>
    <% if (locals.scripts.length) { %>
        <% locals.scripts.forEach(script => { %>
            <%- script %>
        <% }) %>
    <% } %>
</body>
